## Code quality
pytest>=7.0.1
black==22.3.0

## Standard science stack
h5py
hdf5plugin
matplotlib
numpy

## Standard utils
tqdm
wget

## Deep learning
einops
opt_einsum
torch>=2.2.0
torch_geometric>=2.4.0
torch-ema
pytorch_optimizer>=3.0.0

## Experiment management
hydra-core
mlflow==2.4.1 # avoid database version issues

## Project-specific: general
xformers # required for attention on sparse tensors in tagging
torchdiffeq # for CFM sampling
clifford @ git+https://github.com/pygae/clifford # only used in tests

#weaver packages
tqdm>=4.41.0
PyYAML>=5.4
awkward0>=0.15.5
uproot>=4.2.0,<5.2.0
awkward>=1.8.0
lz4
xxhash
