# minimum requirements used to use code from gatr/ and test/ folders
# to run experiments/ you need requirements.txt

## Code quality
pytest>=7.0.1

## Standard science stack
numpy

## Deep learning
einops
opt_einsum
torch>=2.2.0

## Project-specific: general
xformers # required for attention on sparse tensors in tagging
torchdiffeq # for CFM sampling
clifford @ git+https://github.com/pygae/clifford # only used in tests
