# minimum requirements used to use code from gatr/ and test/ folders
# to run experiments/ you need requirements.txt

## Code quality
pytest==7.0.1

## Standard science stack
numpy>=1.25.0,<=1.26.4 # numpy>=1.25.0 is needed for pytorch-optimizer, numpy<=1.26.4 is needed for numba

## Deep learning
einops
opt_einsum
torch==2.2.0

## Experiment management
hydra-core

## Project-specific: general
clifford==1.4.0
numba==0.58.1 # otherwise has conflicts
xformers==0.0.24 # there exists known compatibility issues with xformers on Mac systems
