exp_type: ttbar
exp_name: ttbar_local_debug

data:
 n_jets: [0]
 data_path_0j: data/ttbar_0j.npy
 data_path_1j: data/ttbar_1j.npy
 data_path_2j: data/ttbar_2j.npy
 data_path_3j: data/ttbar_3j.npy
 data_path_4j: data/ttbar_4j.npy
 subsample: 100000
 train_test_val: [.5, .4, .1]
 base_type: 2
 use_delta_r_min: true
 use_pt_min: true

odeint:
 method: rk4
 rtol: 1e-5
 atol: 1e-5
 options:
  step_size: 0.01

cfm:
 embed_t_dim: 8
 embed_t_scale: 30.
 hutchinson: true
 coordinates_straight: StandardLogPtPhiEtaLogM2
 geometry:
  type: simple
  periodic: true
 transforms_float64: true

gpt:
 channels: [1,0,2,3,5,4,6,7,9,8,10,11,13,12,14,15,17,16,18,19,21,20,22,23,25,24,26,27,29,28,30,31,33,32,34,35,37,36,38,39]
 transforms_float64: true

training:
 iterations: 50
 batchsize: 1024
 scheduler: ReduceLROnPlateau

evaluation:
 sample: true
 save_samples: false
 nsamples: 1000
 batchsize: 1024
 eval_loss: []
 eval_log_prob: [] # expensive
 classifier: true

plot: true
plotting:
 loss: true
 fourmomenta: true
 jetmomenta: true
 preprocessed: true
 virtual: true
 delta: true
 deta_dphi: true
 log_prob: true
 reweighted: true
 create_mask: false

defaults:
- model: gatr_eventgen
- classifier: classifier
- default